## Populando tabelas

Este notebook tem por objetivo apenas popular o banco "db_menu". Diante disso, faz-se necessário executar o script "dump\schemaTables.sql" para criar a estrutura do banco antes de popula-lo.

In [45]:
import pymysql
import pandas as pd 
import getpass 
import csv

Certifique-se de ajustar as especifições da conexão abaixo de acordo com o seu server local, uma vez que serão usados esses parâmetros para realizar a conexão com o server MySql local.

In [46]:
#Certifique-se de ajusata
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='1234',
                             db='db_menu')

In [47]:
cursor = connection.cursor()

### Carregando dados
A função readFile() irá carregar os dados a partir de um repositório no github e armazena-los em dataframes.

In [48]:
def readFile(file): 
    directory = "https://media.githubusercontent.com/media/tdsh-ux/dataBases/master/modelData/{}.csv".format(file)
    csvData = pd.read_csv(directory) 
    return csvData.where(pd.notnull(csvData), None)

In [49]:
currency = readFile("currencyId")
dish = readFile("dishG") 
event = readFile("eventId") 
menu = readFile("menuG") 
menu_item = readFile("menuItemG") 
menu_page = readFile("menuPageG") 
sponsor = readFile("sponsorId") 
venue = readFile("venueId")

KeyboardInterrupt:

### Adicionando ao MySql
A partir dos DataFrames o banco será populado através da função addSQL().

In [31]:
def addSQL(table, table_name): 
    cols = "`,`".join([str(i) for i in table.columns.tolist()]) 
    for i,row in table.iterrows():
        sql = "INSERT INTO `" + table_name + "` (`" +cols + "`) VALUES (" + "%s,"*(len(row)-1) + "%s)"
        cursor.execute(sql, tuple(row)) 
        connection.commit() 
        print(sql)

In [32]:
addSQL(venue, "venue")

INSERT INTO `venue` (`id`,`type`) VALUES (%s,%s)
INSERT INTO `venue` (`id`,`type`) VALUES (%s,%s)
INSERT INTO `venue` (`id`,`type`) VALUES (%s,%s)
INSERT INTO `venue` (`id`,`type`) VALUES (%s,%s)
INSERT INTO `venue` (`id`,`type`) VALUES (%s,%s)
INSERT INTO `venue` (`id`,`type`) VALUES (%s,%s)
INSERT INTO `venue` (`id`,`type`) VALUES (%s,%s)
INSERT INTO `venue` (`id`,`type`) VALUES (%s,%s)
INSERT INTO `venue` (`id`,`type`) VALUES (%s,%s)
INSERT INTO `venue` (`id`,`type`) VALUES (%s,%s)
INSERT INTO `venue` (`id`,`type`) VALUES (%s,%s)
INSERT INTO `venue` (`id`,`type`) VALUES (%s,%s)
INSERT INTO `venue` (`id`,`type`) VALUES (%s,%s)
INSERT INTO `venue` (`id`,`type`) VALUES (%s,%s)
INSERT INTO `venue` (`id`,`type`) VALUES (%s,%s)
INSERT INTO `venue` (`id`,`type`) VALUES (%s,%s)
INSERT INTO `venue` (`id`,`type`) VALUES (%s,%s)
INSERT INTO `venue` (`id`,`type`) VALUES (%s,%s)
INSERT INTO `venue` (`id`,`type`) VALUES (%s,%s)
INSERT INTO `venue` (`id`,`type`) VALUES (%s,%s)
INSERT INTO `venue` (`id`,`type`) VALUES (%s,%s)
INSERT INTO `venue` (`id`,`type`) VALUES (%s,%s)
INSERT INTO `venue` (`id`,`type`) VALUES (%s,%s)
INSERT INTO `venue` (`id`,`type`) VALUES (%s,%s)

In [33]:
addSQL(sponsor, "sponsor")

(%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `sponsor` (`id`,`name`) VALUES (%s,%s)

In [34]:
addSQL(event, "event")

INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)
INSERT INTO `event` (`id`,`venue`) VALUES (%s,%s)

In [35]:
addSQL(currency, "currency")

INSERT INTO `currency` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `currency` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `currency` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `currency` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `currency` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `currency` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `currency` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `currency` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `currency` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `currency` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `currency` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `currency` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `currency` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `currency` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `currency` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `currency` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `currency` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `currency` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `currency` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `currency` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `currency` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `currency` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `currency` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `currency` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `currency` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `currency` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `currency` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `currency` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `currency` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `currency` (`id`,`name`) VALUES (%s,%s)
INSERT INTO `currency` (`id`,`name`) VALUES (%s,%s)

In [36]:
addSQL(menu, "menu")

INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)
INSERT INTO `menu` (`id`,`name`,`event_date`,`venue_id`,`event_id`,`sponsor_id`,`currency_id`) VALUES (%s,%s,%s,%s,%s,%s,%s)

In [37]:
addSQL(dish, "dish")

`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)
INSERT INTO `dish` (`id`,`name`,`description`) VALUES (%s,%s,%s)

In [38]:
addSQL(menu_page, "menu_page")

u_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)
INSERT INTO `menu_page` (`id`,`menu_id`,`page_number`,`full_height`,`full_width`) VALUES (%s,%s,%s,%s,%s)

In [39]:
addSQL(menu_item, "menu_item")

em` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)
INSERT INTO `menu_item` (`menu_page_id`,`dish_id`,`price`) VALUES (%s,%s,%s)

### Gerando Dump
O código a seguir cria o arquivo dump do 'db_menu'. Logo, não é preciso executa-lo para implementação do projeto.

In [50]:
import os 
directoryDump = "dump2" 
os.mkdir(directoryDump)

FileExistsError: [WinError 183] Não é possível criar um arquivo já existente: 'dump2'

In [51]:
def dumpSQL(table, table_name): 
    cols = ",".join([str(i) for i in table.columns.tolist()]) 
    csvRows = table.to_csv(index = False, quoting=csv.QUOTE_NONNUMERIC).replace("\\", "").split("\r\n")   
    directoryDump = "" 
    file = open(directoryDump + table_name + ".sql", "w", encoding="utf-8") 
    skipHeader = True 
    for index in range(len(csvRows)): 
        if skipHeader: 
            skipHeader = False 
            continue 
        if index != len(csvRows) - 1: 
            sql = "INSERT INTO " + table_name + " (" + cols + ") VALUES (" + csvRows[index] + ");\n"
            file.write(sql)

In [52]:
dumpSQL(venue, "venue")

In [53]:
dumpSQL(sponsor, "sponsor")

In [54]:
dumpSQL(event, "event")

In [55]:
dumpSQL(currency, "currency")

In [56]:
dumpSQL(menu, "menu")

In [57]:
dumpSQL(dish, "dish")

In [58]:
dumpSQL(menu_page, "menu_page")

In [59]:
dumpSQL(menu_item, "menu_item")