In [5]:
import pymysql
import pandas as pd 
import getpass 
import csv

In [2]:
p = getpass.getpass()

········

In [3]:
p

'Criatura12345@:'

In [4]:
connection = pymysql.connect(host='localhost',
                             user='user',
                             password=p,
                             db='db_menu')

In [5]:
cursor = connection.cursor()

In [3]:
def readFile(file): 
    directory = "https://media.githubusercontent.com/media/tdsh-ux/dataBases/master/modelData/{}.csv".format(file)
    csvData = pd.read_csv(directory) 
    return csvData.where(pd.notnull(csvData), None)

In [6]:
currency = readFile("currencyId")
dish = readFile("dishG") 
event = readFile("eventId") 
menu = readFile("menuG") 
menu_item = readFile("menuItemG") 
menu_page = readFile("menuPageG") 
sponsor = readFile("sponsorId") 
venue = readFile("venueId")

      menu_page_id  dish_id price
0             1389       21  0.25
1              130       50  None
2            13915       50  None
3             5946      286  None
4             4857      286  None
...            ...      ...   ...
6926         23326   512174  None
6927         63008     4373  0.35
6928         63009    29186   0.4
6929         67591    26077   0.2
6930         59886   519108  None

[6931 rows x 3 columns]

In [27]:
def addSQL(table, table_name): 
    cols = "`,`".join([str(i) for i in table.columns.tolist()]) 
    for i,row in table.iterrows():
        sql = "INSERT INTO `" + table_name + "` (`" +cols + "`) VALUES (" + "%s,"*(len(row)-1) + "%s)"
        cursor.execute(sql, tuple(row)) 
        connection.commit() 
        print(sql)

In [28]:
addSQL(venue, "venue")

In [23]:
addSQL(sponsor, "sponsor")

In [24]:
addSQL(event, "event")

In [25]:
addSQL(currency, "currency")

In [25]:
addSQL(menu, "menu")

In [27]:
addSQL(dish, "dish")

In [26]:
addSQL(menu_page, "menu_page")

In [ ]:
addSQL(menu_item, "menu_item")

In [ ]:
import os 
directoryDump = "C:/Users/tiago/desktop/blogdown/dataBases/dump" 
os.mkdir(directoryDump)

In [6]:
def dumpSQL(table, table_name): 
    cols = ",".join([str(i) for i in table.columns.tolist()]) 
    csvRows = table.to_csv(index = False, quoting=csv.QUOTE_NONNUMERIC).replace("\\", "").split("\r\n")   
    directoryDump = "C:/Users/tiago/desktop/blogdown/dataBases/dump/" 
    file = open(directoryDump + table_name + ".sql", "w", encoding="utf-8") 
    skipHeader = True 
    for index in range(len(csvRows)): 
        if skipHeader: 
            skipHeader = False 
            continue 
        if index != len(csvRows) - 1: 
            sql = "INSERT INTO " + table_name + " (" + cols + ") VALUES (" + csvRows[index] + ");\n"
            file.write(sql)

In [7]:
dumpSQL(venue, "venue")

In [8]:
dumpSQL(sponsor, "sponsor")

In [9]:
dumpSQL(event, "event")

In [10]:
dumpSQL(currency, "currency")

In [11]:
dumpSQL(menu, "menu")

In [12]:
dumpSQL(dish, "dish")

In [13]:
dumpSQL(menu_page, "menu_page")

In [14]:
dumpSQL(menu_item, "menu_item")